body {
  height: 150vh;
  width: 100vw;
  overflow-x: hidden;
}
header {
  background-color: #fba300;
}
h2 {
  font-weight: 400;
  color: #f81000;
  text-align: center;
  width: 100%;
}
.container {
  width: 99%;
  padding: 1rem;
}
.img-div {
  border: 1px solid gold;
  height: 21rem;
  width: 24rem;
  border-radius: 2rem;
  background-color: #c9102b;
  margin-top: 3rem;
}
.img-div img {
  width: 20rem;
  height: 18rem;
  border-radius: 2rem;
}
section {
  padding: 1rem;
}
.arrow {
  position: absolute;
  left: 8px;
  top: 3px;
}
.section-1 {
  position: relative;
}
.data {
  height: 70vh;
}
.data div {
  width: 60%;
  margin: 0 auto;
  gap: 10rem;
}
.data div label {
  align-self: flex-start
}

.form-row {
  display: flex;
  align-items: center; /* vertically center input with label */
  margin-bottom: 15px;
  margin-top: 1rem;
}

.form-row label,
h3 {
  width: 120px; /* fixed width for labels */
  font-family: "Parisienne", sans-serif;
  font-size: 2rem;
  color: red;
}

.form-row input,
.form-row select,
.form-row textarea {
  flex: 1; /* take up remaining space */
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fddc7a; /* yellowish background like your example */
}

.form-row textarea {
  height: 80px;
  resize: none;
}
.price {
  font-size: 1.5rem;
  font-weight: 500;
}
.add-to-cart {
  width: 18rem;
  box-sizing: border-box;
  padding: 0.7rem;
  border-radius: 7px;
  border: none;
  background-color: #c9102b;
  height: 3rem;
  text-align: center;
}
.add-to-cart svg {
  width: 1.7rem;
}
.add-name {
  color: white;
  font-size: 1rem;
  margin: auto;
}
.descriptions {
  padding: 1rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  margin-top: -10px;
}
